# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database
*.sqlite3
*.db

# Environment & Config
.env
.env.*
!.env.example

# Virtual Environment
venv/
.venv/
env/

# IDE / System
.vscode/
.idea/
.DS_Store
.gemini/

